.list {
	table {
		border-collapse:collapse;		
		margin: 0 auto;
		width: 100%;	
		tbody {
			width: 98%;
			margin: 0 auto;
		}			

		th, td {
			height: 56px;
			line-height: 56px;
			font-size: 16px;
			color: #666;
			text-align: center;
			overflow: hidden;
		}
		th {
			border-bottom: none;
			background: #f2f9ff;
			font-weight: normal;
		}
		td {
			border-bottom: 1px solid #e0e0e0;
			position: relative;
			font-size: 14px;
			color: #464646;
		
			a {
				color: #0091ff;
				margin-left: 15px;
			}

			a:hover {
				text-decoration: underline;
			}


			img {
				padding: 10px;
				vertical-align: middle;
				display: none;
			}

			input {
				padding: 5px;
				width: 100%;
				border: 1px solid #0091ff; 	
				border-radius: 5px;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
		}
		
		tr:hover {
			background: #f2f9ff;			
			
			td:first-child, td:last-child{			
				/*background: #FFF; */
			}	
		}
		td:first-child, td:last-child {			
			border-bottom: none; 
		}
		
		
		tr.edit:hover {
			cursor: initial;
		}
		tr.edit td img {
			display: none;
		}
		tr.table-head:hover {
			background: transparent;
		}
		tr {
			/*cursor: pointer;*/
		}
		tr span.download, tr span.delete {
			display: none;
			position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-top: -16px;
		    margin-left: -72px;
		    width: 45px;
		    height: 32px;
		    line-height: 32px;
		    color: #0091ff
		}
		tr span.delete {
			margin-left: 27px;	
		}

		td.table-name {
			width: 320px;
			text-indent: 10px;
			text-align: left;
			text-overflow: ellipsis;
			overflow: hidden; 
			white-space:nowrap; 
		}

	}

}
