html {
	scrollbar-face-color:#DEF;
	scrollbar-highlight-color:#FFF;
	scrollbar-shadow-color:#9BC;
	scrollbar-3dlight-color:#ACD;
	scrollbar-arrow-color:#68A;
	scrollbar-track-color:#EEE;
	scrollbar-darkshadow-color:#DEF;
}

body {
	text-align:left;
	
	color:#3f3f3f;
}

a {
	color:#333;
	text-decoration:none;
	outline:none;
	cursor:hand;
	cursor:pointer;
}

a:hover {
	color:#4a88df;
	text-decoration:underline;
}


.imenus_h .imeam span,.imenus_h .imeamj span {
	background-image:url(../images/arrow_down.gif);
	width:7px;
	height:5px;
	left:-7px;
	top:5px;
	background-repeat:no-repeat;
	background-position:top left;
}

.imenus_h li:hover .imeam span,.imenus_h li a.iactive .imeamj span {
	background-image:url(../images/arrow_down.gif);
	background-repeat:no-repeat;
	background-position:top left;
}

.imenus_h ul .imeas span,.imenus_h ul .imeasj span {
	background-image:url(../images/arrow_left.gif);
	width:5px;
	height:7px;
	left:-5px;
	top:3px;
	background-repeat:no-repeat;
	background-position:top left;
}

.imenus_h ul li:hover .imeas span,.imenus_h ul li a.iactive .imeasj span {
	background-image:url(../images/arrow_left.gif);
	background-repeat:no-repeat;
	background-position:top left;
}

.imouter_h {
	padding:0;
	margin:0;
}

.imenus_h li ul {
	background-color:#2b73cf;
	border-style:solid;
	border-color:#fff;
	border-width:1px;
	padding:5px;
	margin:4px 0 0;
}

.imenus_h li a,.imenus_h .imctitle {
	color:#00519b;
	border:solid 1px #3aaae6;
	text-align:left;
	font-size:12px;
	font-weight:400;
	text-decoration:none;
	height:18px;
	line-height:18px;
	padding:0 8px;
	margin:2px 0 0 5px;
}

.imenus_h li:hover>a {
	color:#00519b;
	text-decoration:underline;
}

.imenus_h li a.ihover,.imde imenus0 a:hover {
	color:#00519b;
	text-decoration:underline;
}

.imenus_h ul a,.imenus_h .imsubc li .imctitle {
	color:#fff;
	text-align:left;
	font-size:12px;
	font-weight:400;
	text-decoration:none;
	border-style:none;
	border-color:#000;
	border-width:1px;
	padding:2px 5px;
}

.imenus_h ul li:hover>a {
	color:#fff;
	text-decoration:underline;
}

.imenus_h ul li a.ihover {
	color:#fff;
	text-decoration:underline;
}

.imenus_h ul li a.iactive {
	background-color:#9bc6fc;
}

.imenus_h .dvs {
	border-bottom-width:1px;
	border-style:dotted;
	border-color:#fff;
	padding-bottom:2px;
}

.bs_nav_hmenu {
	padding:83px 0 0 5px;
	color:#19366e;
}

.imcm ul, .imcm li, .imcm div, .imcm span, .imcm a {
	text-align:left;
	vertical-align:top;
	padding:0px;
	margin:0;
	list-style:none outside none;
	border-style:none;
	background-image:none;
	clear:none;
	float:none;
	display:block;
	position:static;
	overflow:visible;
	line-height:normal;
}
.imcm li a img {
	display:inline;
	border-width:0px;
}
.imcm span {
	display:inline;
}
.imcm .imclear, .imclear {
	clear:both;
	height:0px;
	visibility:hidden;
	line-height:0px;
	font-size:1px;
}
.imcm .imsc {
	position:relative;
}
.imcm .imsubc {
	position:absolute;
	visibility:hidden;
}
.imcm li {
	list-style:none;
	font-size:1px;
	float:left;
}
.imcm ul ul li {
	width:100%;
	float:none !important;
}
.imcm a {
	display:block;
	position:relative;
}
.imcm ul .imsc, .imcm ul .imsubc {
	z-index:10;
}
.imcm ul ul .imsc, .imcm ul ul .imsubc {
	z-index:20;
}
.imcm ul ul ul .imsc, .imcm ul ul ul .imsubc {
	z-index:30;
}
.imde ul li:hover .imsubc {
	visibility:visible;
}
.imde ul ul li:hover .imsubc {
	visibility:visible;
}
.imde ul ul ul li:hover .imsubc {
	visibility:visible;
}
.imde li:hover ul .imsubc {
	visibility:hidden;
}
.imde li:hover ul ul .imsubc {
	visibility:hidden;
}
.imde li:hover ul ul ul .imsubc {
	visibility:hidden;
}
.imcm .imea {
	display:block;
	position:relative;
	left:0px;
	font-size:1px;
	line-height:1px;
	height:0px;
	width:1px;
	float:right;
}
.imcm .imea span {
	display:block;
	position:relative;
	font-size:1px;
	line-height:0px;
}
.dvs, .dvm {
	border-width:0px
}

