#slider {
	height: 148px;
    width: 100%;
    overflow: hidden;
}
/* Gmu v2.1.0 - widget/slider/slider.css, widget/slider/slider.default.css, widget/gotop/gotop.css, loading.default.css, widget/refresh/refresh.iscroll.default.css */
.ui-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ui-slider-group {
    overflow: hidden;
    position: relative;
    white-space:nowrap;/*内容不换行*/
    -webkit-transform: translateZ(0);
}

.ui-slider-item {
    background-color: #e3e3e3;
    text-align: center;
    position: relative;
    float: left;
    overflow: hidden;
    -webkit-box-sizing: border-box;
}
.ui-slider-item {
    height: 148px;
}

.ui-slider-item img {
	display: block;
    width: 100%;
    height: 100%;
    background:#E7E7E7 url(images/ui-slider-imgbg.png) center center no-repeat;
}

.ui-slider-item > a {
    display: block;
    text-decoration: none;
    /*由于slide-item有3d属性，导致android上最后一个overflow:hidden无效，所以给子集也加个overflow:hidden;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ui-slider-item > p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    pointer-events: none;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 6px 0;
    text-indent: 10px;
}
.ui-slider-dots {
    position: absolute;
    bottom: 6px;    
    /*padding: 0 6px;*/
    width: 100%;
    text-align: center;
}
.ui-slider-dots > b {
    display: inline-block;
    margin: 0 4px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: rgba(144, 144, 144, 0.8);
}

.ui-slider-dots .ui-state-active {
    width: 8px;
    height: 8px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANdJREFUeNpi/P//PwMBUAfEd4F4KV5VIIPwYA0g/gHE74BYFp9afIawAfHZ/whwFCpGskEz/mOCGaQaVPEfN6gj1qDy/4RBDT6D2HB4BxeYA8Ts6AbJAfHx/6SDC0CsBTMoBog//Ccf/ATieiZgUlIHYm4G8sEXIL4D85ohEF8nwzWHgFgaPbB5gHgpCYZMA2JWXNHPCMTNRBhSR2yCLMFjSAWpWaQbiyELyMlrzEB8AMmQq0DMRY5BICwBxG+B+BcQ6+FTy0IgjbwA4jwgVgPiS/gUAgQYAJdMqNUQiZvhAAAAAElFTkSuQmCC);
    background-size: 8px;
}

.ui-slider-pre, .ui-slider-next {
    position: absolute;
    z-index: 99;
    width: 50px;
    height: 60px;
    top:50%;
    left: 0;
    margin-top: -30px;
    outline: none;
}
.ui-slider-next {
    right: 0;
    left: auto;
}
.ui-slider-pre:after, .ui-slider-next:after {
    position: absolute;
    width: 20px;
    height: 40px;
    background: rgba(0, 0, 0, 0.3) url(images/ui-slider-arrow.png) no-repeat;
    background-size: 35px 15px;
    outline: none;
    content: '\0020';
    display: inline-block;
    background-position: 3px center;
    left: 0;
    top: 50%;
    margin-top: -20px;
    border-radius: 0 20px 20px 0;
}
.ui-slider-next:after {
    background-position: -18px center;
    right: 0;
    left: auto;
    border-radius: 20px 0 0 20px;
}

/*css for pad*/
@media all and (min-device-width:768px) and (max-device-width: 1024px){
    .ui-slider-item > p {
        font-size: 16px;
        padding: .5em 0;
        text-indent: .8em;
    }
    .ui-slider-dots {
        bottom:.5em;
        padding-right: .5em;
    }

    .ui-slider-dots b {
        margin-right: .5em;
        width: .5em;
        height: .5em;
        border-radius: .25em;
    }
}


/*css for pad*/
@media all and (min-device-width:768px) and (max-device-width: 1024px){
    .ui-gotop{
        width:60px;
        height: 60px;
    }
    .ui-gotop div{
        width: 48px;
        height: 48px;
        -webkit-background-size: 22px 18px;
    }
}
.ui-loading {
    width: 40px;
    height: 40px;
    text-indent: -10000px;
    background: url(images/ui-loading.png) 0 0 no-repeat;
    -webkit-background-size: 40px 40px;
    -webkit-animation-name: ui-loading-anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
}

@-webkit-keyframes ui-loading-anim {
	from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.ui-refresh .ui-refresh-up .ui-refresh-icon,
.ui-refresh .ui-refresh-down .ui-refresh-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background: url(images/r-flip.png) no-repeat;
    -webkit-background-size: 25px 25px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 400ms;
    -webkit-transition-timing-function: ease-in-out;
}

.ui-refresh .ui-refresh-down .ui-refresh-icon{
    -webkit-transform: rotate(180deg) translateZ(0);
}

.ui-refresh .ui-refresh-up .ui-refresh-flip{
    -webkit-transform: rotate(180deg) translateZ(0);
}

.ui-refresh .ui-refresh-down .ui-refresh-flip{
    -webkit-transform: rotate(0deg) translateZ(0);
}


.ui-refresh .ui-refresh-up .ui-loading,
.ui-refresh .ui-refresh-down .ui-loading{
    -webkit-transition-duration: 0ms;      /*停止flip动画*/
}