<link rel="stylesheet" href="./hotquery.css">
<!-- 依赖common.css panel样式 -->
<div class="panel hotquery clearfix">	
	<div class="panel-head">
		<h2>大家都在搜</h2>
	</div>
	<div class="panel-corner hotquery-refresh"></div>
	<ul class="hotquery-list">
		<li class="line3">			
			<span class="color1"><a href="/search/{%urlencode($content[0]->sername)%}">足球</a></span>
			<span class="color2"><a href="/search/{%urlencode($content[1]->sername)%}">足球</a></span>
			<span class="color3"><a href="/search/{%urlencode($content[2]->sername)%}">足球</a></span>
		</li>	
		<li class="lineOther3">			
			<span class="color2"><a href="/search/{%urlencode($content[3]->sername)%}">足球</a></span>
			<span class="color4"><a href="/search/{%urlencode($content[4]->sername)%}">足球</a></span>
			<span class="color5"><a href="/search/{%urlencode($content[5]->sername)%}">足球</a></span>
		</li>
		<li class="line2">
			<span class="color6"><a href="/search/{%urlencode($content[6]->sername)%}">足球</a></span>
			<span class="color2"><a href="/search/{%urlencode($content[7]->sername)%}">足球</a></span>
		</li>
			
	</ul>
</div>