* {
	padding: 0px;
	margin: 0px;
}
.menutip {
	position: absolute;
	bottom: 45px;
	right: 5px;
	z-index: 100;
	padding: 15px 10px;
	width: 100px;
	background: #EEE;
	border-radius: 5px;
}
.menutip:after {
  content: ' ';
  position: absolute;
  bottom: -5px;
  right: 20%;
  z-index: 100;
  background: #EEE;
  margin-left: -6px;
  height: 12px;
  width: 12px;
  border: 1px solid #EEE;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menutip li{
	height: 40px;
	line-height: 40px;
}
.menutip li a {
	display: block;
	width: 100%;
	color: #00adef;
	font-size: 16px;
	text-indent: 35px;
	background-repeat: no-repeat;
	background-position: 0px center;
	background-size: 25px 25px;
}
.menutip li a.icon-detail {
	background-image: url(icon-detail.png);
}
.menutip li a.icon-comment {
	background-image: url(icon-comment.png);
}