.content {	
	font-family: "微软雅黑";
	color: #5f7b98;
	background-color: #515151;
}
.title {
	/*margin-top: 10px;*/
	padding: 8px;
	background-color: #515151;
	border-bottom: 4px #3c3c3c solid;
	text-align: left;
	font-size: 15px;
	color: #dbdbdb;
}
.tags {
	margin-top:10px;
	width:100%;
	overflow:hidden
}
.tags:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.tags li {
	float:left;
	width:33.33%;
	height:33px;
	line-height:33px;
	text-align:center;
	border-right:1px #3c3c3c solid;
	border-bottom:1px #3c3c3c solid;
	-webkit-box-sizing:border-box;
	color: #fff;
}
.tags li:nth-child(3n+3) {
	border-right:none;
}
.tags li a {
	font-size: 14px;
	color: #fff;
	display:block;
	text-decoration: none;
}